################### {Beat} Configuration Example #########################

############################# {Beat} ######################################

macoslogbeat:
  # Defines how often an event is sent to the output
  period: 1s
  # Defines the directory path where cache is stored
  # cache.dir:
  #excluded.subsystems:
  #  - com.apple.bluetooth
  #  - com.apple.GPUWrangler

